@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color: white;
    background: gray;
    text-align: center;
}

/* include border and padding in element width and height */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Header section */

.header {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    padding: 0px 45px 45px 45px;
    font-size: 40px;
}

/* Instructions for the game */

.instructions {
    text-align: center;
}

.instructions h2 {
    font-size: 40px;
    margin-bottom: 5px;
}

.instructions h3 {
    font-size: 39px;
}

/* Display winner or loser of the round. */

.result {
    font-size: 50px;
    margin-top: 25px;
}


/* Show player selection */

.players-selection {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 350px;
    font-size: 25px;
}






.btn-disable
        {
        cursor: not-allowed;
        pointer-events: none;
        }

.container {
    /* full-sized container that fills up the page */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 135px;
}

button {
    background: none;
    border: none;
}

#winner {
    font-size: 50px;
    margin-top: 25px;
}